<ng-container [ngSwitch]="site">
  <ng-container *ngSwitchCase="'YouTube'">
    <iframe
      width="100%"
      height="315"
      [src]="videoUrl"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ng-container>

  <!-- vemo -->

  <ng-container *ngSwitchCase="'Vimeo'">
    <div style="padding: 45.61% 0 0 0; position: relative">
      <iframe
        src="https://player.vimeo.com/video/328599590?h=1d1350de32"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <p>
      <a href="https://vimeo.com/328599590">MAKIN&#039; MOVES 2</a> from
      <a href="https://vimeo.com/kouheinakama">Kouhei Nakama</a> on
      <a href="https://vimeo.com">Vimeo</a>.
    </p>
  </ng-container>
</ng-container>
